<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список постов</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Все посты</h1>
    <a href="/posts/create">Создать новый пост</a>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/posts/{{ post['_id'] }}">{{ post['title'] }}</a>
                (Автор: {{ post['user_id'] }}, Дата: {{ post['created_at'] }})
            </li>
        {% endfor %}
    </ul>
</body>
</html>